<!DOCTYPE html>
<html>
<head>
    <title>Quiz 1</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
</head>
<body class="w3-black">
    <div class="w3-bar w3-theme-d2 w3-left-align bottom-margin">
        <a href="/question6" class="w3-bar-item w3-button">Question6</a>
        <a href="/question7" class="w3-bar-item w3-button">Question7</a>
        <a href="/theory" class="w3-bar-item w3-button">Theory</a>
        <a href="/clusturing" class="w3-bar-item w3-button">Clusturing</a>
        <a href="/radius" class="w3-bar-item w3-button">Radius</a>
        <br><br>
        <h6 class="w3-center">Toor, Shubhpreet Singh</h6>
        <h2 class="w3-center">1001564975</h2>
    </div>
</body>
</html>
